services:
  ###> doctrine/doctrine-bundle ###
  php8.3-fpm:
    user: "1000:1000"
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PHP_VERSION: 8.3
    environment:
      DATABASE_URL: mysql://${MYSQL_USER:-app}:${MYSQL_PASSWORD:-!ChangeMe!}@database:3306/${MYSQL_DATABASE:-app}?serverVersion=8.0&charset=utf8mb4
      MERCURE_URL: http://mercure/.well-known/mercure
      MERCURE_PUBLIC_URL: http://localhost:3000/.well-known/mercure
      MERCURE_JWT_SECRET: "!ChangeThisMercureHubJWTSecretKey!"
    volumes:
      - ./:/var/www/html:rw,cached
    depends_on:
      - database
      - mercure
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./:/var/www/html:rw,cached
      - ./docker/nginx/conf.d/:/etc/nginx/conf.d/:rw
    depends_on:
      - php8.3-fpm

  database:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE:-app}
      MYSQL_USER: ${MYSQL_USER:-app}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-!ChangeMe!}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root}
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    volumes:
      - database_data:/var/lib/mysql:rw
  mercure:
    image: dunglas/mercure
    restart: unless-stopped
    environment:
      SERVER_NAME: ":80"
      MERCURE_PUBLISHER_JWT_KEY: "!ChangeThisMercureHubJWTSecretKey!"
      MERCURE_SUBSCRIBER_JWT_KEY: "!ChangeThisMercureHubJWTSecretKey!"
      MERCURE_EXTRA_DIRECTIVES: |
        cors_origins *
        anonymous
    command: /usr/bin/caddy run --config /etc/caddy/dev.Caddyfile
    ports:
      - "3000:80"
    volumes:
      - mercure_data:/data
      - mercure_config:/config
  mailer:
    image: axllent/mailpit
    user: "1000:1000"
    ports:
      - "1025"
      - "8025:8025"

volumes:
  database_data:
  mercure_data:
  mercure_config:
