services:
  ###> doctrine/doctrine-bundle ###
  database:
    image: mariadb:11
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE:-app}
      MYSQL_USER: ${MYSQL_USER:-app}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-!ChangeMe!}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-root}
    command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    volumes:
      - database_data:/var/lib/mysql:rw

  ###> symfony/mercure-bundle ###
  mercure:
    image: dunglas/mercure
    restart: unless-stopped
    environment:
      # --- ВАЖЛИВІ ЗМІНИ ТУТ ---
      # 1. Примусово включаємо HTTP (порт 80), щоб не було проблем з SSL
      SERVER_NAME: ":80"
      # 2. Ключі (залиш як є)
      MERCURE_PUBLISHER_JWT_KEY: "!ChangeThisMercureHubJWTSecretKey!"
      MERCURE_SUBSCRIBER_JWT_KEY: "!ChangeThisMercureHubJWTSecretKey!"
      # 3. Дозволяємо підключення звідусіль (зірочка *), щоб не було помилок CORS
      MERCURE_EXTRA_DIRECTIVES: |
        cors_origins *
        anonymous
      # -------------------------
    command: /usr/bin/caddy run --config /etc/caddy/dev.Caddyfile
    ports:
      - "3000:80" # Порт 3000 на комп'ютері веде на порт 80 в контейнері
    volumes:
      - mercure_data:/data
      - mercure_config:/config
volumes:
  database_data:
  mercure_data:
  mercure_config:
