{% block body %}
  <div id="status"></div>

  <input type="text" name="chat-text" id="chat-text" placeholder="Chat is ready. Describe your problem." style="width:100%; cursor: pointer;" />
  <button class="btn book-btn" id="btn-test" style="cursor: pointer;">Send</button>

  <script>
    const urlString = "{{ mercure_public_url|default('http://localhost:3000/.well-known/mercure') }}"
    
    console.log('Connecting mercure on adress:', urlString)
    
    const hubUrl = new URL(urlString)
    hubUrl.searchParams.append('topic', 'http://mysite.com/chat')
    
    const eventSource = new EventSource(hubUrl)
    
    eventSource.onmessage = (event) => {
      const data = JSON.parse(event.data)
      const chatBox = document.getElementById('status')
    
      const msg = document.createElement('div')
      msg.style.padding = '5px 0'
      msg.style.textWrap = 'wrap'
      msg.innerHTML = `<strong>User ${data.sender}:</strong> ${data.content}`
    
      chatBox.appendChild(msg)
    }
    document.getElementById('btn-test').addEventListener('click', function () {
      fetch('/api/message/send', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ content: document.getElementById('chat-text').value })
      })
    })
  </script>
{% endblock %}
