{% block body %}
  <div style="padding: 50px; font-family: sans-serif;">
    <div id="status" style="border: 1px solid black; padding: 10px; margin-bottom: 10px;">
      <div style="color: gray; font-style: italic;">Chat is ready. Describe your problem.</div>
    </div>

    <input type="text" name="chat-text" id="chat-text" />
    <button class="btn book-btn" id="btn-test" style="padding: 10px 20px; font-size: 16px; cursor: pointer;">Send</button>
  </div>

  <script>
    const urlString = "{{ mercure_public_url|default('http://localhost:3000/.well-known/mercure') }}"
    
    console.log('Connecting mercure on adress:', urlString)
    
    const hubUrl = new URL(urlString)
    hubUrl.searchParams.append('topic', 'http://mysite.com/chat')
    
    const eventSource = new EventSource(hubUrl)
    
    eventSource.onmessage = (event) => {
      const data = JSON.parse(event.data)
      const chatBox = document.getElementById('status')
    
      const msg = document.createElement('div')
      msg.style.padding = '5px 0'
      msg.innerHTML = `<strong>User ${data.sender}:</strong> ${data.content}`
    
      chatBox.appendChild(msg)
    }
    document.getElementById('btn-test').addEventListener('click', function () {
      fetch('/api/message/send', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ content: document.getElementById('chat-text').value })
      })
    })
  </script>
{% endblock %}
